apiVersion: batch/v1
kind: Job
metadata:
  name: {{{ job_name }}}
  labels:
    dummysite: "{{ dummysite_name }}"
    website_url: "{{{ website_url }}}"
spec:
  template:
    spec:
      containers:
      - name: {{{ container_name }}}
        image: {{{ image }}}
        args: ["{{{ website_url }}}"]
        volumeMounts:
          - name: data
            mountPath: /data
      volumes:
      - name: data
        hostPath:
          path: /tmp/kube
          type: Directory
      restartPolicy: Never

